<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Výber z Databázy</title>
    <link rel=" stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <h1>{{ t.pick }}</h1>
        <a href="/kurzy"><button class= button_hl >{{ t.show_courses }}</button></a>
        <a href="/treneri"><button class= button_hl >{{ t.show_trainer }}</button></a>
        <a href="/miesta"><button class= button_hl >{{ t.show_places }}</button></a>
        <a href="/kapacity"><button class= button_hl > {{ t.show_capacity }} </button></a>
        <a href="/registracia"><button class= button_hl >{{ t.register_trainer }}</button></a>
        <a href="/prida_kurz"><button class= button_hl >{{ t.add_course }}</button></a>
        <hr>
</body>

</html>