<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Výber z Databázy</title>
    <link rel=" stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <h1>Výber z databázy</h1>
        <a href="/kurzy"><button class= button_hl >Zobraz všetky kurzy</button></a>
        <a href="/treneri"><button class= button_hl >Zobraz všetkých trénerov</button></a>
        <a href="/miesta"><button class= button_hl >Zobraz miesta</button></a>
        <a href="/kapacity"><button class= button_hl >Zobraz kapacitu</button></a>
        <a href="/registracia"><button class= button_hl >Registruj Trenéra</button></a>
        <a href="/prida_kurz"><button class= button_hl >Pridaj kurz</button></a>
        <hr>
</body>

</html>