<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pridaj Kurz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
    
<body>
    <h2>{{ t.add_course }}</h2>

    <form action="/prida_kurz" method="post">

    
        <label>{{ t.name }}</label><br>
        <input type="text" name="nazov_kurzu" required><br><br>

        <label>{{ t.surname }}:</label><br>
        <input type="text" name="typ_sportu" required><br><br>

        <label>{{ t.max_capacity }}</label><br>
        <input type="text" name="max_pocet_ucastnikov" required><br><br>

        <label>{{ t.trainer_ID }}:</label><br>
        <input type="text" name="id_trenera" required><br><br>

        <button type="submit">{{ t.Add }}</button>

    </form>
    <hr>
    <a href="/">{{ t.back }}</a>
</body>
</html>   