<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>registracia treneri</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <h2>{{ t.trainer_registration }}</h2>

        <form action="/registracia" method="post">

            <label>{{ t.name }}</label><br>
            <input type="text" name="meno" required><br><br>

            <label>{{ t.surname }}</label><br>
            <input type="text" name="priezvisko" required><br><br>

            
            <label>{{ t.phone }}</label><br>
            <input type="text" name="telefon" required><br><br>

            <label>{{ t.specialty }}</label><br>
            <input type="text" name="specializacia" required><br><br>

            <label>{{ t.password }}</label><br>
            <input type="text" name="heslo" required><br><br>

            <button type="submit">{{ t.registrate }}</button>

        </form>
        <hr>
        <a href="/">{{ t.back }}</a>
</body>
</html>